{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Diglib{% endblock %}

{% block page_content %}
    <div class="page-header">
    {% if current_user.is_anonymous() or current_user.is_authenticated() %}
        <h1>Query library</h1>
        <form role="form" method="post" action="/">
            {{ form.hidden_tag() }}
            <div>
                <div class="input-group">
                    {{ form.pattern(class="form-control", placeholder="Search...") }}
                    <span class="input-group-btn">
                        {{ form.submit(class="btn btn-default") }}
                    </span>
                </div>
                {% for error in form.pattern.errors %}
                    <span style="color: gray;">{{ error }}</span>
                {% endfor %}<br>
            </div>
        </form>
    {% else %}
        <h1>Please Login!</h1>
    {% endif %}
    </div>
    {% if result %}
    <div class="col-md-12">
        <table class="table table-bordered">
            <caption>Search result for query "{{ query }}":<caption>
            <theard>
                <tr>
                   {% if formName == 'book' %}
                       <th>Book title</th>
                       <th>Author(s)</th>
                   {% elif formName == 'author' %}
                       <th>Author</th>
                       <th>Author's books</th>
                   {% endif %}
                </tr>
            </theard>
            <tbody>
                <tr>
                {% for item in result %}
                    {% if formName == 'book' %}
                    <td>
                        {{ item.title }}
                    </td>
                    <td>
                        {% if item.authors %}
                            {{ item.authors|join(', ') }}
                        {% else %}
                            Book has no author(s)
                        {% endif %}
                    </td>
                    {% elif formName == 'author' %}
                    <td>
                        {{ item.name }}
                    </td>
                    <td>
                        {% if item.books %}
                            {{ item.books|join(', ') }}
                        {% else %}
                            Author has no book(s)
                        {% endif %}
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
{% endblock %}
